<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ağ Bilgileri</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style5.css') }}">
</head>
<body>
    <h2>Ağ Bilgileri</h2>
    
    <form action="/ag_bilgileri" method="post">
        <button type="submit" name="button_type" value="button1">Kabinet 1
            <img src="/static/kabinet.jpg" alt="Kabinet1" width="120" height="130">
        </button>
        <button type="submit" name="button_type" value="button2">Kabinet 2
            <img src="/static/kabinet.jpg" alt="Kabinet2" width="120" height="130">
        </button>
        <button type="submit" name="button_type" value="button3">Kabinet 3
            <img src="/static/kabinet.jpg" alt="Kabinet3" width="120" height="130">
        </button>
    </form>
    
    <div>
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Kabinet No</th>
                            <th>Switch No</th>
                            <th>Switch Port No</th>
                            <th>Kat</th>
                            <th>Oda No</th>
                            <th>Oda Adı</th>
                            <th>İşlem Açıklama</th>
                            <th>Cihaz Kullanıcı Adı Soyadı</th>
                            <th>Cihaz Adı / Bilgisayar Adı</th>
                            <th>IP No</th>
                            <th>MAC Adresi</th>
                            <th>Yazıcı Marka Model</th>
                            <th>Açıklama</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                            <tr>
                                <td>{{ result['Kabinet_No'] }}</td>
                                <td>{{ result['Switch_No'] }}</td>
                                <td>{{ result['Switch_Port_No'] }}</td>
                                <td>{{ result['Kat'] }}</td>
                                <td>{{ result['Oda_No'] }}</td>
                                <td>{{ result['Oda_Adi'] }}</td>   
                                <td>{{ result['Islem_Aciklama'] }}</td>              
                                <td>{{ result['Cihaz_Kullanici_Adi_Soyadi'] }}</td>
                                <td>{{ result['Cihaz_Adi_Bilgisayar_Adi'] }}</td>   
                                <td>{{ result['IP_No'] }}</td>      
                                <td>{{ result['MAC_Adresi'] }}</td>      
                                <td>{{ result['Yazici_Marka_Model'] }}</td>  
                                <td>{{ result['Aciklama'] }}</td>                   
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
