<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style4.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Cihaz Tanımlama</title>
</head>
<body>
    <div class="form-container">
    <h2>Cihaz Tanımla</h2>
    <form action="/ekle_cihaz" method="post">
        <div class="row">
            <div class="col">
                <label for="Sira_No">Cihaz No:</label>
                <input type="text" id="Sira_No" name="Sira_No"><br><br>

                <label for="Kat_Numara">Kat No:</label>
                <input type="text" id="Kat_Numara" name="Kat_Numara"><br><br>

                <label for="Kabinet_No">Kabinet No:</label>
                <input type="text" id="Kabinet_No" name="Kabinet_No"><br><br>

                <label for="Switch_No">Switch No:</label>
                <input type="text" id="Switch_No" name="Switch_No"><br><br>
            </div>
            <div class="col">
                <label for="Switch_Port_No">Switch Port No:</label>
                <input type="text" id="Switch_Port_No" name="Switch_Port_No"><br><br>

                <label for="Cihaz_Name">Cihaz Adı:</label>
                <input type="text" id="Cihaz_Name" name="Cihaz_Name"><br><br>

                <label for="Switch_Turu">Switch Türü:</label>
                <input type="text" id="Switch_Turu" name="Switch_Turu"><br><br>

                <label for="Marka">Marka:</label>
                <input type="text" id="Marka" name="Marka"><br><br>

                <label for="Seri_No">Seri No:</label>
                <input type="text" id="Seri_No" name="Seri_No"><br><br>

                <label for="IP_No">IP No:</label>
                <input type="text" id="IP_No" name="IP_No"><br><br>

                <label for="Aciklama">Açıklama:</label>
                <input type="text" id="Aciklama" name="Aciklama"><br><br>

                <label for="MAC_Adresi">MAC Adresi:</label>
                <input type="text" id="MAC_Adresi" name="MAC_Adresi"><br><br>
            </div>
        </div>
        <input type="submit" value="Ekle">
    </form>
</div>
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Cihaz No</th>
                        <th>Kat No</th>
                        <th>Kabinet No</th>
                        <th>Switch_No</th>
                        <th>Switch Port No</th>
                        <th>Cihaz Adı</th>
                        <th>Switch Türü</th>
                        <th>Marka</th>
                        <th>Seri No</th>
                        <th>IP No</th>
                        <th>Açıklama</th>
                        <th>MAC Adresi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cihaz in cihazlar %}
                        <tr>
                            <td>{{ cihaz['Sira_No'] }}</td>
                            <td>{{ cihaz['Kat_Numara'] }}</td>
                            <td>{{ cihaz['Kabinet_No'] }}</td>
                            <td>{{ cihaz['Switch_No'] }}</td>
                            <td>{{ cihaz['Switch_Port_No'] }}</td>
                            <td>{{ cihaz['Cihaz_Name'] }}</td>
                            <td>{{ cihaz['Switch_Turu'] }}</td>
                            <td>{{ cihaz['Marka'] }}</td>
                            <td>{{ cihaz['Seri_No'] }}</td>
                            <td>{{ cihaz['IP_No'] }}</td>
                            <td>{{ cihaz['Aciklama'] }}</td>
                            <td>{{ cihaz['MAC_Adresi'] }}</td>   
                            <td>
                                <a href="/guncelle/{{ cihaz['Cihaz_No'] }}">Güncelle</a>
                            </td>                         
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
