<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style4.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Güncelleme</title>
</head>
<body>
    <div class="form-container">
        <h2>Güncelleme</h2>
        <form action="/guncelle/{{ yazici['Yazici_No'] }}" method="post">
            <div class="row">
                <div class="col">
                    <label for="Sube_Birim_Personel">Şube/Birim/Personel:</label>
                    <input type="text" id="Sube_Birim_Personel" name="Sube_Birim_Personel" value="{{ yazici['Sube_Birim_Personel'] }}"><br><br>

                    <label for="Marka_Model">Marka/Model:</label>
                    <input type="text" id="Marka_Model" name="Marka_Model" value="{{ yazici['Marka_Model'] }}"><br><br>

                    <label for="Yazici_Adi">Yazıcı Adı:</label>
                    <input type="text" id="Yazici_Adi" name="Yazici_Adi" value="{{ yazici['Yazici_Adi'] }}"><br><br>
                </div>
                <div class="col">
                    <label for="Baglanti">Bağlantı:</label>
                    <input type="text" id="Baglanti" name="Baglanti" value="{{ yazici['Baglanti'] }}"><br><br>

                    <label for="IP_No">IP Adresi:</label>
                    <input type="text" id="IP_No" name="IP_No" value="{{ yazici['IP_No'] }}"><br><br>

                    <label for="Kabinet_No">Kabinet:</label>
                    <input type="text" id="Kabinet_No" name="Kabinet_No" value="{{ yazici['Kabinet_No'] }}"><br><br>

                    <label for="Switch_No">Switch:</label>
                    <input type="text" id="Switch_No" name="Switch_No" value="{{ yazici['Switch_No'] }}"><br><br>

                    <label for="Port_No">Port No:</label>
                    <input type="text" id="Port_No" name="Port_No" value="{{ yazici['Port_No'] }}"><br><br>
                </div>
            </div>
            <input type="submit" value="Güncelle">
        </form>
    </div>
</body>
</html>
