<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hakkında</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style6.css') }}">
</head>

<body>
    <form action="/hakkinda" method="post">
        <body>
            <h2>GÖREVLERİ</h2>
            <p>a) Ölçme ve değerlendirme iş ve işlemlerini birimlerle işbirliği içerisinde yürütmek,</p>
            <p>b) Sınavların uygulanması ile ilgili organizasyonu yapmak ve sınav güvenliğini sağlamak,</p>
            <p>c) Sınav komisyonunun sekretarya hizmetlerini yürütmek,</p>
            <p>ç) Öğretim programlarını teknik yönden izlemek ve sonuçlarını değerlendirmek,</p>
            <p>d) Eğitim faaliyetlerinin iyileştirilmesine yönelik teknik çözümlere ve yerel ihtiyaçlara dayalı uygulama projeleri geliştirmek ve yürütmek,</p>
            <p>e) Yenilikçi eğitim ve teknoloji destekli eğitim uygulamaları için yenilikçi çözümler hedefleyen proje ve araştırmalarda birimlere ve resmi ve özel kurumlara ilişkin iş ve işlemleri yürütmek,</p>
            <p>f) İlgili birimler ile işbirliği içinde proje ve araştırma sonuçlarının yeni uygulamalara yön vererek sürdürülebilir iş süreçlerine dönüşümünü sağlamak,</p>
            <p>g) Eğitim araç ve ortam standartlarının uygunluk testlerine ilişkin iş ve işlemleri yürütmek,</p>
            <p>ğ) Uzaktan eğitim ile ilgili iş ve işlemleri yürütmek,</p>
            <p>h) Eğitim bilişim ağını işletmek ve geliştirmek, erişim ve paylaşım yetkilerini yönetmek,</p>
            <p>ı) Tedarikçilerin eğitim materyalleri ve e-içerik projelerini incelemek ve değerlendirmek,</p>
            <p>i) Eğitim teknolojileriyle ilgili bütçe ve yatırım planlamalarını yapmak,</p>
            <p>j) Bilişime ilişkin Bakanlık ve diğer birim projelerine ilişkin iş ve işlemleri yürütmek,</p>
            <p>k) Kamu bilişim standartlarına uygun çözümler üretmek,</p>
            <p>l) Haberleşme, veri ve bilgi güvenliğini sağlamak,</p>
            <p>m) Eğitim bilişim ağının kullanımının yaygınlaştırılmasını sağlamak,</p>
            <p>n) Bilişim hizmetlerine ve internet sayfalarına ilişkin iş ve işlemleri yürütmek,</p>
            <p>o) Elektronik imza ve elektronik belge uygulamalarına ilişkin iş ve işlemleri yürütmek,</p>
            <p>ö) Bilgi işlem ve otomasyon ihtiyacının karşılanmasına destek sağlamak ve işletimini yapmak,</p>
            <p>p) İstatistikî verilerin saklanmasına ilişkin teknik iş ve işlemleri yürütmek,</p>
            <p>r) Çağrı sistemleri kurulmasına ve işletilmesine ilişkin iş ve işlemleri yürütmek.</p>
        </body>

        <h2>İletişim Bilgileri</h2>

        <table>
            <tr>
                <th>Birim</th>
                <th>Telefon</th>
                <th>Eposta</th>
            </tr>
            <tr>
                <td>Bilgi İşlem ve Eğitim Teknolojileri Hizmetleri</td>
                <td>352 330 11 25</td>
                <td>bilgiislemegitek38@meb.gov.tr</td>
            </tr>
            <tr>
                <td>MEBBİS, Bilgisayar ve Ağ Sistemleri</td>
                <td>352 330 11 25</td>
                <td>kayserimem@meb.gov.tr</td>
            </tr>
            <tr>
                <td>FATİH Projesi</td>
                <td>352 330 11 25</td>
                <td>fatih38@meb.gov.tr</td>
            </tr>
        </table>
</form>

</body>

</html>
